# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = remind_me_scraper.settings

[deploy:default]
url = http://localhost:8080/
project = remind_me_scraper
