@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* BASE */

:root{
    
    --navbar_bg: rgb(51, 51, 51);
    --nav_text: rgb(224, 224, 224);

    --text_placeholder_color: rgb(206, 206, 206);
    --input_border_color: rgba(0, 0, 0, 0.411);
    --input_bg: rgba(59, 59, 59, 0.87);
    --card_bg: rgb(70, 70, 70);

    --body_bg: rgb(245, 245, 245);
    --general_text: rgb(255, 255, 255);
    --light_heading_text_color: rgb(255, 255, 255);
    --dark_heading_text_color: rgb(56, 56, 56);

    --button_font_color: rgb(255, 255, 255);
    --button_font_black: rgb(34, 34, 34);
    --button_bg: rgb(30, 119, 236);
    --button_bg_hover: rgb(64, 137, 233);
    --btn_font_size: 1.4rem;
    --btn_border_radius: 4px;

    --helper_text_color: rgb(218, 218, 218);
    --error_bg: rgb(223, 65, 65);
        
}


*{
    box-sizing:  border-box;
    font-family: Roboto, sans-serif, Arial, Helvetica;
    font-weight: 400;
}


body{
    padding: 0;
    margin: 0;
    background: var(--body_bg);
}

.bg-wrapper{
    height: 100%;
}

.main-content{
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 80px;
    color:rgb(31, 31, 31);
}

.article_1{
    color: rgb(31, 31, 31);
}

.navbar{
    display: grid;  
    background: var(--navbar_bg);
    grid-template-columns: 20px 0.5fr 100px 0.5fr 20px;
    min-height: 60px;
    color: var(--nav_text);
    border-bottom: 1px rgba(24, 24, 24, 0.89) solid;
}

.logo{
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family: Lato;
    white-space: nowrap;
    font-weight: 700;
}

.nav-ul{    
    grid-column: 4 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-ul li{
    flex-basis: 10px;
    list-style-type: none;
    font-size: 23px;
    font-family: Lato;
    margin-left: 8%;
}   

.link{
    white-space: nowrap;
}

.nav-ul a{
    color: var(--nav_text);
}

.link:visited{
    color: var(--nav_text);
}

.link:hover{
    text-decoration: none;
    color:rgb(179, 179, 179);
}

.form-section{
    width: 450px;
    background: var(--card_bg);
    padding: 50px;
    border-radius: 4px;
}

#id_password,
#id_username,
.input-field{
    color: var(--text_placeholder_color);
    background: var(--input_bg);
    width: 100%;
    line-height: 2.8rem;
    border: 0px solid var(--input_border_color);
    border-radius: 3px;
    padding: 0 1rem;
}

.form-label-light{
    color: var(--light_heading_text_color);
}

.form-label-dark{
    color: var(--dark_heading_text_color);
}

.bold{
    font-weight: bold;
}

.field-container{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 7px;
}

.field-container-error input{
    color: rgb(212, 65, 65);
}

.button{
    background: none;
    border: none;
    border-radius: var(--btn_border_radius);
    color: var(--button_font_color);
    font-size: var(--btn_font_size);
    transition: background 200ms ease-in-out;
    padding: 10px;
}

.button:hover{
    background: var(--button_bg_hover);
}

.btn-group{
    width: 100%;
    display: flex;
    justify-content: center;    
}

.button-signup{
    margin-top: 20px;
    font-size: var(--btn_font_size);
    background: var(--button_bg);
}

.heading_text{
    font-size: 1.8rem;
    color: var(--light_heading_text_color);
}

.info_text{
    color: var(--helper_text_color);
}

.errorlist{
    color: var(--general_text);
    list-style-type: none;
    padding: 3px;
    margin: 0;
}

.errorlist li{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    background: var(--error_bg);
    text-align: center;     
}

/* Get's rid of yellow autofill and text color background for input fields in Firefox */
input {
    filter: none;
}

.form-wrap{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 750px){
    .nav-ul{
        display: none;
    }
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(400px, auto);
    gap: 20px
}

.grid-auto{
    display: grid;
    grid-auto-columns: 1fr;
}

.grid-row-2-4{
    grid-template-rows: repeat(2, 400px);
    grid-template-areas: 
        "top-1 top-2"
        "bottom-1 botom-2";
}

.card-1{
    padding: 20px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.466);
    border-radius: 6px;
}

.sidebar-content-wrapper {
    display: flex;
    height: 100%;
    flex-basis: 100%;
    justify-content: center;
}

.pagination-wrapper {
    display: flex;
    margin-top: auto;
    padding: 30px 0;
    margin-bottom: 15px;
    height: 70px;
    
    justify-content: center;
    color:var(--light_heading_text_color);
}

.pagination-wrapper ul li {
    margin-left: 10px;
}
/* BASE */


