:root{
    --sidebar_width: 280px;
    --profile-sidebar-link_color: rgb(34, 34, 34);
    --profile-sidebar-link_hover: rgb(243, 0, 0);
    --sidebar-li-hover: rgb(153, 153, 153);
    --sidebar_bg: rgb(245, 245, 245);
    --sidebar-text-mobile-color: rgb(236, 236, 236);
}

.main-content{
    margin: 0;
    max-width: 100%;
}

.sidebar-outside-wrapper{
    display: flex;
}

.sidebar-inner-wrapper{
    position: sticky;
    top: 0;
    /* Turns off flex-shrink that's set by default */
    flex-shrink: 0;
    width: var(--sidebar_width);
    background: var(--sidebar_bg);
    height: calc(100vh - 65.1px);
    border-right: 1px solid rgb(224, 224, 224);
    transition: width 1s;
    /* overflow: hidden; */
}

.sidebar-options{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    padding-top: 80px;
}

.sidebar-li{
    text-align: left;
    font-size: 22px;
}

.profile-sidebar-link{
    padding: 10px;
    display: block;
    color: var(--profile-sidebar-link_color);
    transition: background 0.2s;
}

.profile-sidebar-link:hover{
    background: var(--sidebar-li-hover);
}

.profile-sidebar-link:visited{
    color: var(--profile-sidebar-link_color);
}

.sidebar-li-svg{
    margin-right: 10px;                                                                                                          
    width:30px; 
    height: 30px;
}


@media  screen and (max-width: 850px) {
    .sidebar-outside-wrapper{
        position: relative;
    }

    

    .sidebar-inner-wrapper{
        position: absolute;
        border: none;
        left: 0;
        top: 0;
        width: 0px;
        height: 100%;
        z-index: 99;
        overflow: hidden;
        background:rgba(22, 22, 22, 0.897);
    }

    .sidebar-options li{
        color: var(--sidebar-text-mobile-color);
        font-weight: bold;
    }

    .profile-sidebar-link:visited{
        color: var(--sidebar-text-mobile-color);
    }

    .sidebar-content-wrapper{
        z-index: 1;
    }
    .sidebar-options{
        align-items: center;
    }

    .sidebar-li{
        outline: 3px solid rgba(255, 255, 255, 0.438);
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .sidebar-closeBtn{
        position: absolute;
        right: 15px;
        top: 0;
        color: white;
        font-size: 40px;
        font-family: Lato;
        font-weight: light;
    }

    .sidebar-closeBtn:hover{
        color: white;
        text-decoration: none;
    }
}