{% extends "layout/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    {% if data %}
        <h2>{{ data.name }}</h2>
        <h2>{{ data.url }}</h2>
    {% else %}
        <form method="POST">
            {% csrf_token  %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-5">Add a new Amazon product to track</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Track</button>
            </div>
            
        </form>
    {% endif %}
</div>
{% endblock %}