{% extends "layout/base.html" %}    


{% block content %}
<div class="content-section">
    {% if products %}
        {% for product in products %}
            <div class="product_listing">
                <ul>
                    <li>{{ product.name }}</li>
                    <li>Added on {{ product.date_added }}</li>
                    <li> ${{ product.price }} CAD</li>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <h3>You have no products that are currently being tracked..</h3>
        <small class="text-muted"><a href="{% url 'listing-add-page' %}">Click here to track a product</a></small>
    {% endif %}
</div>
{% endblock %}
