{% extends "layout/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'layout/index.css' %}">   
{% endblock %}

{% block content %}
    <article class="intro-wrapping">
        <div class="heading-wrapper">
            <p class="heading">NEVER MISS ANOTHER <br class="heading-br"> PRODUCT RE-STOCK AGAIN</p>
        </div>
        <div class="small-message">
            <p class="small-message-p">click register to get started</p>
        </div>
        <div class="btn-wrapper">
            <a href="#" class="register-btn btn"> 
                REGISTER
            </a>
            <div class="blank-spacer"></div>
            <a href="#" class="sign-in-btn btn">
                LOG IN
            </a>
        </div>
    </article>
{% endblock %}
