{% extends "layout/base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/forms.css' %}"> 
{% endblock %}

{% block content %}
    <div class="form-wrap">
        <div class="form-section">
            <form method="POST">
                {% csrf_token  %}
                <fieldset class="form-group">
                    <legend class="mb-2 heading_text">Welcome</legend>
                    <small class="info_text">
                        Don't have an account yet?
                        <a href="{% url 'register-page' %}" class="ml-2">Create an account here</a>
                    </small>
                    <ul class="errorlist">
                        {% if form.errors %}
                            <li>We couldn't find an account with that email and password</li>
                        {% endif %}
                    </ul>
                    <div class="field-container">
                        <label class="form-label-light bold">{{ form.username.label }}</label>
                        {{ form.username }}
                    </div>
                    <div class="field-container">
                        <label class="form-label-light bold">{{ form.password.label }}</label>
                        {{ form.password }}
                    </div>
                </fieldset>
                <div class="btn-group">
                    <button class="button button-signup mb-4" type="submit">Continue</button>
                </div>
                <small><a class="text-muted" href="{% url 'password-reset-page' %}">Forgot password</a></small>
            </form>
        </div>
    </div>
{% endblock %}