{% extends "layout/base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/forms.css' %}"> 
{% endblock %}

{% block content %}
    <div class="form-wrap">
        <div class="form-section">
            <form method="POST">
                {% csrf_token  %}
                <fieldset class="form-group">
                    <legend class="mb-2 heading_text">Welcome back</legend>
                    <small class="info_text">
                        Don't have an account yet?
                        <a href="{% url 'register-page' %}" class="ml-2">Create an account here</a>
                    </small>
                    {% if field.errors %}
                        <div class="field_errors">
                            <p>Your username and password didn't match.</p>
                        </div>
                    {% endif %}
                    {% for field in form.visible_fields %}
                        {% if field.errors %}
                            <div class="field-container field-container-error">
                                <label class="form-label">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% else %}
                            <div class="field-container">
                                <label class="form-label-light bold">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endif %}
                        <div class="field_error">
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="btn-group">
                    <button class="button button-signup mb-4" type="submit">Continue</button>
                </div>
                <small><a class="text-muted" href="{% url 'password-reset-page' %}">Forgot password</a></small>
            </form>
        </div>
    </div>
{% endblock %}