@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* BASE */

*{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif ;
}


body{
    padding: 0;
    margin: 0;
    background: #FAFAFA;
}

.bg-wrapper{
    background: #FAFAFA;
    height: 100%;
}

.main-content{
    max-width: 85vw;
    margin: 0 auto;
    margin-top: 80px;
    color:rgb(31, 31, 31);
}

.article_1{
    color: rgb(31, 31, 31);
}

.navbar{
    display: grid;
    background: rgb(248, 225, 108);
    grid-template-columns: 20px 0.5fr 100px 0.5fr 20px;
    min-height: 100px;
    color:rgb(29, 29, 29);
    border-bottom: 1px rgba(29, 29, 29, 0.3) solid;
}

.logo{
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: Lato;
    white-space: nowrap;
    font-weight: 700;
}

.nav-ul{    
    grid-column: 4 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-ul li{
    flex-basis: 10px;
    list-style-type: none;
    font-size: 23px;
    font-family: Lato;
    margin-left: 8%;
}   

.nav-ul a{
    text-decoration: none;
    white-space: nowrap;
}

.nav-ul a:visited{
    color:rgb(29, 29, 29);
}

.nav-ul a:hover{
    color:rgb(179, 179, 179);
}

@media screen and (max-width: 850px){
    .nav-ul{
        display: none;
    }
}

/* BASE */


