{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home_page/base.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/home.css' %}">
    <title>Document</title>
</head>
<body>
    <header class="nav-container">
        <div class="logo-wrap">
            <a href="#">
                <img src="{% static 'home_page/images/remind_me_logo.png' %}" class="logo">
            </a>
        </div>
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <nav>
            <ul>
                <li><a href="#">LOGIN</a></li>
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </header>
    <div class="main-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

<!-- TODO: NAVBAR, GRADIENTS, MARGINS -->