{% extends "home_page/base.html" %}
{% load static %}


<!-- TODO: NAVBAR, GRADIENTS, MARGINS -->
<link rel="stylesheet" href="{% static 'home_page/home.css' %}">

{% block content %}
    <div class="title-parent">
        <div class="title-container">
            <h1 class="title-heading text">Tired of checking whether products are <br class="tagline-br1">in stock on <span class="amzn-span">Amazon</span>? <br class="tagline-br2"><span class="tagline-span">we've got you covered.</span></h1>
            <span class="heading-line"></span>
        </div>
    </div>
        <section class="about-section ">
            <div class="about-title-container text">
                <h2>What does <br class="about-title-br"><span class="remind-me-span span-header-about">REMIND ME WHEN</span><br class="about-title-br"> do?</h2>
            </div>
            <div class="about-container text">
                <div class="p-container one">
                    <p class="about-flex-p1 about-p"><span class="remind-me-span">REMIND ME WHEN</span><br> takes away the hassle of having to constantly check whether your favorite products are back in stock</p>
                </div>
                <div class="flex-div">
                    <div class="p-container two">
                        <p class="about-flex-p2 about-p">We'll send you a simple reminder, notifying you when your favorite products are available.
                    </div>
                </div>
                <div class="orange-bg"></div>
                <!-- <span class="about-flex-span"></span> -->
            </div>
        </section>
{% endblock content %}