:root{
    --sidebar_width: 280px;
    --profile-sidebar-link_color: rgb(34, 34, 34);
    --profile-sidebar-link_hover: rgb(243, 0, 0);
    --sidebar-li-hover: rgb(153, 153, 153);
    --sidebar_bg: rgb(245, 245, 245);
    --sidebar-text-mobile-color: rgb(236, 236, 236);
}

.main-content{
    position: relative;
    padding-left: 0;
    margin: 0;
    max-width: 100%;
    padding-top: 0;
}

.sidebar-outside-wrapper{
    display: flex;
}

.sidebar-inner-wrapper{
    position: sticky;
    top: 0;
    bottom: 0;
    /* Turns off flex-shrink that's set by default */
    flex-shrink: 0;
    width: var(--sidebar_width);
    background: var(--sidebar_bg);
    height: calc(100vh + var(--navbar_height));
    border-right: 1px solid rgb(224, 224, 224);
    overflow: hidden;
    transition: width 1s cubic-bezier(0.35, 0.68, 0.79, 0.9);
    z-index: 200;
    overflow: hidden;
}

.sidebar-options{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    padding-top: 80px;
}

.sidebar-li{
    text-align: left;
    font-size: 22px;
}

.profile-sidebar-link{
    padding: 10px;
    display: block;
    color: var(--profile-sidebar-link_color);
    transition: background 0.2s;
}

.profile-sidebar-link:hover{
    background: var(--sidebar-li-hover);
}

.profile-sidebar-link:visited{
    color: var(--profile-sidebar-link_color);
}

.sidebar-li-svg{
    margin-right: 10px;                                                                                                          
    width:30px; 
    height: 30px;
}

@media  screen and (max-width: 940px) {
    .sidebar-inner-wrapper{
        width: 0px;
    }

    .main-content{
        transition: padding 1s;
        padding-left: 0;
        padding-right: 0;
    }
    
} 