{% extends "layout/base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'listings/listing_landing.css' %}"> 
{% endblock %}

{% block sidebar_content %}
    <div class="content-section listing-form-card">
        <form class='card-1' method="POST">
            {% csrf_token  %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-5">Add a new Amazon product to track</legend>
                {% for field in form.visible_fields %}
                    <div class="field-container">
                        <label class="form-label-dark bold">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </fieldset>
            {% if temp_user_block %}
                <div class="form-group">
                    <button class="btn btn-danger" type="button">Temporaily disabled</button>
                </div>
            {%else%}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Track</button>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}