{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'layout/base.css' %}"> 
    {% if sidebar %}
        <link rel="stylesheet" type="text/css" href="{% static 'layout/sidebar.css' %}">
    {% endif %} 
    {% block styles %}
    {% endblock %}
    {% if title %}
        <title>RemindME  |  {{ title }}</title>
    {% else %}
        <title>RemindME | Home</title>
    {% endif %}
</head>
<body>
    <nav class="navbar">
        <div class="logo">REMIND ME WHEN</div>
        {% if user.is_authenticated %}
            <ul class="nav-ul">
                <li class="li-item"><a class="link" href="{% url 'home-page' %}">HOME</a></li>
                <li class="li-item"><a class="link" href="{% url 'listing-add-page' %}">TRACK PRODUCT</a></li>
                <li class="li-item"><a class="link" href="{% url 'logout-page' %}">LOGOUT</a></li>
            </ul>
        {% else %}
            <ul class="nav-ul">
                <li class="li-item"><a class="link" href="{% url 'home-page' %}">HOME</a></li>
                <li class="li-item"><a class="link" href="{% url 'login-page' %}">LOGIN</a></li>
                <li class="li-item"><a class="link" href="{% url 'register-page' %}">SIGN UP</a></li>
            </ul>
        {% endif %}
    </nav>

    {% if messages %}
        <div class="message-box">
            {% for message in messages %}
                <!-- BS has the same style names as our django success flash messages such as "alert-success" for example. -->
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <section class="main-content">
        <div class="mobile-sidebar-btn mobile-btn-sidebarClosed">
            <div id="mobile-sidebar-btn-line"></div>
        </div>
        <nav id="mobile-sidebar" class="mobile-sidebarClosed">
            <ul class="sidebar-options">
                <li class="mobile-sidebar-li"><a class="link" href="{% url 'home-page' %}">HOME</a></li>
                {% if user.is_authenticated %}
                    <li class="mobile-sidebar-li" ><a class="link" href="{% url 'profile-page' %}">PROFILE</a></li>
                    <li class="mobile-sidebar-li" ><a class="link" href="{% url 'listing-add-page' %}">TRACK PRODUCT</a></li>
                    <li class="mobile-sidebar-li" ><a class="link" href="{% url 'listing-home-page' %}">VIEW PRODUCTS</a></li>
                    <li class="mobile-sidebar-li"><a class="link" href="{% url 'logout-page' %}">LOGOUT</a></li>
                {% else %}
                    <li class="li-item"><a class="link" href="{% url 'login-page' %}">LOGIN</a></li>
                    <li class="li-item"><a class="link" href="{% url 'register-page' %}">REGISTER</a></li>
                {% endif %} 
            </ul>
        </nav>
        <!-- Displays sidebar if 'sidebar':True in context. -->
        {% if sidebar %}
            <div class="sidebar-outside-wrapper">
                <nav class="sidebar-inner-wrapper">
                    <!-- <a href="#" class="sidebar-closeBtn">X</a>    -->
                    <ul class="sidebar-options">
                        <li class="sidebar-li" ><a class="link profile-sidebar-link" href="{% url 'profile-page' %}"><img  class='sidebar-li-svg' src='{% static "layout/user_svg_test.svg" %}'>Profile</a></li>
                        <li class="sidebar-li" ><a class="link profile-sidebar-link" href="{% url 'listing-add-page' %}"><img  class='sidebar-li-svg' src='{% static "layout/pen_paper.svg" %}'>Add listings</a></li>
                        <li class="sidebar-li" ><a class="link profile-sidebar-link" href="{% url 'listing-home-page' %}"><img   id='listings-svg' class='sidebar-li-svg' src='{% static "layout/listings_paper.svg" %}'>Listings</a></li>
                    </ul>
                </nav>
                <div class="sidebar-content-wrapper">
                    <a class="open-sidebar-btn"></a>
                    
                    {% block sidebar_content %}
                    {% endblock %}
                </div>
            </div>
            {% else %}
            {% block content %}
            {% endblock %}
            <div class="pagination-wrapper">
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="link" href="?page=1">First</a></li>
                            <li class="page-item"><a class="link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
        
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_num == page_obj.number %}
                                <li class="page-item"><a class="link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'+3' %}
                                <li class="page-item"><a class="link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}
                            
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                            <h2>dd</h2>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    </section>
    <footer class="footer-wrapper">
        
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'layout/mobile.js' %}"></script>
</body>
</html>

