{% extends "layout/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'layout/index.css' %}">   
{% endblock %}

{% block content %}
    <article class="intro-wrapping">
        <div class="heading-wrapper">
            <p class="heading">NEVER MISS ANOTHER PRODUCT RE-STOCK AGAIN</p>
        </div>
        <div class="small-message">
            <p class="small-message-p">click register to get started</p>
        </div>
        <div class="btn-wrapper">
            <a href="{% url 'register-page' %}" class="register-btn user-btn"> 
                REGISTER
            </a>
            <div class="blank-spacer"></div>
            <a href="{% url 'login-page' %}" class="sign-in-btn user-btn">
                LOG IN
            </a>
        </div>
    </article>
{% endblock %}
